<%= simple_form_for(@estacionamiento) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :fe_inicio %>
    <%= f.input :fe_final %>
    <%= f.input :monto_pagar %>
    <%= f.input :mensaje %>
    <%= f.input :status %>
    <%= f.association :user %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
