<div class="alert alert-warning text-center">Para poder publicar un estacionamiento necesitas ingresar con una cuenta Flash Web Systems</div>
<% provide(:title, 'Sign up') %>
<h1>Sign up</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <% if @login.errors.any? %>
      <div div id="error_explanation">
        <div class="alert alert-danger">
          The form contains <%= pluralize(@login.errors.count, "error") %>.
        </div>
        <ul>
        <% @login.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <%= form_for(@login) do |f| %>
    
      <%= f.label :Nombre %><br>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :Apellidos %><br>
      <%= f.text_field :lastname, class: 'form-control' %>
      
      <%= f.label :email %><br>
      <%= f.email_field :email, class: 'form-control' %>
      
      <%= f.label :Contraseña %><br>
      <%= f.password_field :password, class: 'form-control' %>
      
      <%= f.label :sexo %><br>
      <%= f.select :sexo, options_for_select([["Masculino", "M"], ["Femenino", "M"]]) %>
      
      <%= f.submit "Crear Cuenta", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>

